<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString.DataEngine" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.74.58)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ORCL)));User ID=DATAENGINE;Password=12345678; Promotable Transaction=local" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>